name: Publish docker image on tag push
on:
    push:
        tags:
            - '*'
jobs:
    commit:
        name: Test worflow
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
                uses: actions/checkout@v2
                with:
                    fetch-depth: 0
