name: Publish docker image on tag push

on:
    push:
        tags:
            - '*'
jobs:
    deploy-image:
        name: "Publish docker image"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Log in to Docker Hub
                uses: docker/login-action@v1
                with:
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Push to Docker Hub
                uses: docker/build-push-action@v2
                with:
                    push: true
                    tags: darlanhms/express-typeorm-example:${{ steps.vars.outputs.tag }}
